<%= flash[:successfully] %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">

      <%= render 'users/user_profile', user: @user %>

      <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>

      </div>
      <%= render 'new_book', book_new: @book_new %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100,100) %><br>
              <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
              <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
              <% if @book.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger", "data-confirm"=>"本当に消しますか？" %>
            </td>
            <% end %>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
